pre{
  font-size: 1.2em;
}

.core-brasil{
  color: black;
  background-color: red;
}

.core-pelotas{
  color: blue;
  background-color: yellow;
}

.core-Farroupilha{
  color: green;
  background-color: white;
}